{% load static %}

{% block content %}
<header>
    <nav>
      <a href="{% url 'requisition:home' %}">
        <img src="{% static 'media/must_logo.png' %}" alt="Meru University Logo">
      </a>
      
      <ul>
        <li><a href="{% url 'requisition:signup' %}">SignUp</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'requisition:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'requisition:login' %}">Login</a></li>
        {% endif %}
        <li><a href="#">Contact Us</a></li>
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'requisition:home' %}"><p>You are : {{ request.user }}</p></a>
      {% endif %}

    </nav>
  </header>
{% endblock %}
